<footer>
  <!-- START: Copyright -->
  <div class="copyright">
    <span>
      Criado com &#10084;&#65039; usando Angular. copyright &copy; 2022 -

      <a
        href="https://github.com/alexcamargos"
        target="_blank"
        rel="noopener noreferrer"
      >
        Alexsander Lopes Camargos
      </a>
    </span>

    <span
      >This site is a parody, built for educational purposes, nothing is
      actually being sold.
    </span>

    <span>
      Intel, the Intel Logo, Intel Core, Iris, and Xeon are trademarks of Intel
      Corporation or its subsidiaries in the U.S. and/or other countries.
    </span>
  </div>
  <!-- END: Copyright -->
</footer>
