<div class="container">
  <div class="container--top">
    <app-header></app-header>

    <div class="hero">
      <div class="hero-content">
        <div class="hero-content--text">
          <h1>Novidades & Tendencias</h1>
          <h2>Explore um novo mundo de leitura</h2>

          <div class="hero-content--search">
            <form class="search-form">
              <mat-form-field class="search-form-full-width">
                <mat-icon matPrefix>search</mat-icon>
                <input type="search" matInput placeholder="Stephen King" />
              </mat-form-field>
            </form>
          </div>
        </div>

        <div class="featured-book">
          <app-featured-book></app-featured-book>
        </div>

        <div class="featured-author">
          <app-featured-author></app-featured-author>
        </div>
      </div>
    </div>
  </div>

  <div class="container--bottom">
    <div class="books-reviews">
      <span>Avaliações Recentes</span>

      <div class="container-books">
        <app-book-review></app-book-review>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<router-outlet></router-outlet>
