<div class="container" *ngIf="product">
  <div class="container--title">
    <button
      mat-icon-button
      color="primary"
      aria-label="Back"
      [routerLink]="['/products']"
    >
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
    <h2>Product Details</h2>
  </div>

  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title-group class="product-card--title-group">
        <mat-card-title class="product-card--title">
          {{ product.name | uppercase }}
        </mat-card-title>
        <mat-card-subtitle class="product-card--subtitle">
          {{ product.category }}
        </mat-card-subtitle>

        <p class="product-card--price">{{ product.price | currency }}</p>
      </mat-card-title-group>
    </mat-card-header>

    <img
      mat-card-image
      src="../../../assets/products/{{ product.image }}"
      alt="{{ product.name | uppercase }}"
    />
    <mat-card-content>
      <h4>Tech Specs</h4>
      <p>{{ product.description }}</p>
    </mat-card-content>

    <mat-card-actions class="product-card--actions">
      <button mat-flat-button (click)="addToCart(product)">
        <mat-icon
          aria-hidden="false"
          aria-label="Buy this product."
          fontIcon="shopping_cart"
        ></mat-icon>

        Buy
      </button>
    </mat-card-actions>
  </mat-card>
</div>
