<div class="container">
  <h2>Products</h2>

  <div *ngFor="let product of products">
    <h4 *ngIf="product.name">
      <a [title]="'Purchase ' + product.name | uppercase">
        {{ product.name | uppercase }}
      </a>
    </h4>

    <div class="product-description">
      <img
        src="../../../assets/products/{{ product.image }}"
        alt="{{ product.name | uppercase }}"
      />
      <p *ngIf="product.description">
        {{ product.description }}
      </p>
    </div>

    <app-product-alerts
      [product]="product"
      (notify)="onNotify(product)"
    ></app-product-alerts>
  </div>
</div>
