<div class="container">
  <img src="https://via.placeholder.com/130x160" alt="Book" />

  <div class="book">
    <span class="book--title">Book Title</span>
    <span class="book--author">Author</span>

    <div class="book-rate">
      <mat-icon class="marked">star_rate</mat-icon>
      <mat-icon class="marked">star_rate</mat-icon>
      <mat-icon class="marked">star_rate</mat-icon>
      <mat-icon class="marked">star_rate</mat-icon>
      <mat-icon>star_rate</mat-icon>
    </div>

    <a href="#">Ler Analise</a>
  </div>
</div>
