<div class="container">
  <div class="container--content" *ngFor="let post of blogPosts">
    <img src="https://via.placeholder.com/130x160" alt="{{ post.title }}" />

    <div class="book">
      <span class="book--title">{{ post.title }}</span>
      <span class="book--author">{{ post.author }}</span>

      <div class="book-rate">
        <mat-icon class="marked">star_rate</mat-icon>
        <mat-icon class="marked">star_rate</mat-icon>
        <mat-icon class="marked">star_rate</mat-icon>
        <mat-icon class="marked">star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
      </div>

      <a [routerLink]="['content', post.id]">Ler Analise</a>
    </div>
  </div>
</div>
